.document-viewer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  max-width: 750px;
}

.document-card {
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 30%;
/*  max-height: 90%;*/
}